[user]
    name = Emre Kovanci
    email = kovanciemre@gmail.com

[init]
    defaultBranch = main

[core]
    autocrlf = false

[branch]
    sort = -committerdate

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[alias]
    aliases = --list-cmds=alias
    s = status
    who = shortlog --summary --numbered --email
    logs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    branches = branch --all

[color "branch"]
    current = green bold
    local = green
    remote = yellow

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
